{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">

  {{ macros::head() }}

  <body>

    {% if lang == "ru" %}
      {{ macros::page_nav(lang=lang, subtitle="Описание",
          ru_url=config.base_url ~ "/description/",
          en_url=config.base_url ~ "/en/description/") }}
    {% else %}
      {{ macros::page_nav(lang=lang, subtitle="Description",
          ru_url=config.base_url ~ "/description/",
          en_url=config.base_url ~ "/en/description/") }}
    {% endif %}

    <main class="post-wrap">
      <article class="project-body">
        {{ section.content | safe }}
      </article>
    </main>

    {{ macros::footer() }}
    {{ macros::google_analytics() }}

  </body>
</html>
